{% extends 'Admin/admin_template.html.twig' %}

{% block title %}Author{% endblock %}
{% block title2 %}Auteur{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-xl-8 order-xl-1">
            <div class="card shadow">
                <div class="card-header bg-white border-0">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <h1 class="mb-0">
                                <a href="{{ path('author_index') }}">
                                    <i class="fas fa-arrow-left text-primary"></i>
                                </a>
                                Auteur
                            </h1>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table align-items-center table-flush">
                            <tbody>
                            <tr>
                                <th>Nom de l'auteur</th>
                                <td>{{ author.name }}</td>
                            </tr>
                            </tbody>
                        </table>

                        <hr class="my-4" />
                        <div class="row">
                            <div class="col-md-12">
                                <h3>Biographie</h3>
                                <p>{{ author.biography }}</p>
                            </div>
                        </div>

                    </div>

                    <br/>
                    <div class="row">
                        <div class="col-sm-2">
                            <a href="{{ path('author_edit', {'id': author.id}) }}" class="btn btn-info">Modifier</a>
                        </div>
                        <div class="col">
                            {{ include('author/_delete_form.html.twig') }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}