{% extends 'base.html.twig' %}

{% block title %}Borrow index{% endblock %}

{% block body %}
    <h1>Borrow index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date_borrow</th>
                <th>Return_dt</th>
                <th>IsValid</th>
                <th>Reservation_dt</th>
                <th>NumBrorrow</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for borrow in borrows %}
            <tr>
                <td>{{ borrow.id }}</td>
                <td>{{ borrow.dateBorrow ? borrow.dateBorrow|date('Y-m-d') : '' }}</td>
                <td>{{ borrow.returnDt ? borrow.returnDt|date('Y-m-d') : '' }}</td>
                <td>{{ borrow.isValid ? 'Yes' : 'No' }}</td>
                <td>{{ borrow.reservationDt ? borrow.reservationDt|date('Y-m-d') : '' }}</td>
                <td>{{ borrow.numBrorrow }}</td>
                <td>
                    <a href="{{ path('borrow_show', {'id': borrow.id}) }}">show</a>
                    <a href="{{ path('borrow_edit', {'id': borrow.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('borrow_new') }}">Create new</a>
{% endblock %}
