{{ form_start(form, {'attr' : {'id':'form_book'}}) }}
    <div class="pl-lg-4">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    {{ form_label(form.title, "Titre du livre", {'label_attr': {'class': 'form-control-label'}}) }}
                    {{ form_errors(form.title) }}
                    {{ form_widget(form.title, {'attr': {'class': 'form-control form-control-alternative', 'autocomplete' : 'off'}}) }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    {{ form_label(form.authors, "Auteur", {'label_attr': {'class': 'form-control-label'}}) }}
                    {{ form_errors(form.authors) }}
                    {{ form_widget(form.authors, {'attr': {'class': 'form-control form-control-alternative'}}) }}
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    {{ form_label(form.editor, "Maison d'édition", {'label_attr': {'class': 'form-control-label'}}) }}
                    {{ form_errors(form.editor) }}
                    {{ form_widget(form.editor, {'attr': {'class': 'form-control form-control-alternative'}}) }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    {{ form_label(form.published_dt, "Date de publication", {'label_attr': {'class': 'form-control-label'}}) }}
                    {{ form_errors(form.published_dt) }}
                    {{ form_widget(form.published_dt, {'attr': {'autocomplete' : 'off'}}) }}
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    {{ form_label(form.language, "Langue", {'label_attr': {'class': 'form-control-label'}}) }}
                    {{ form_errors(form.language) }}
                    {{ form_widget(form.language, {'attr': {'class': 'form-control form-control-alternative', 'autocomplete' : 'off'}}) }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    {{ form_label(form.nbreCopies, "Nombre d'exemplaire", {'label_attr': {'class': 'form-control-label'}}) }}
                    {{ form_errors(form.nbreCopies) }}
                    {{ form_widget(form.nbreCopies, {'attr': {'class': 'form-control form-control-alternative', 'autocomplete' : 'off'}}) }}
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    {{ form_label(form.nbrePage, "Nombre de page", {'label_attr': {'class': 'form-control-label'}}) }}
                    {{ form_errors(form.nbrePage) }}
                    {{ form_widget(form.nbrePage, {'attr': {'class': 'form-control form-control-alternative', 'autocomplete' : 'off'}}) }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    {{ form_label(form.availability, "Disponibilité", {'label_attr': {'class': 'form-control-label'}}) }}
                    {{ form_errors(form.availability) }}
                    {{ form_widget(form.availability, {'attr': {'class': 'form-control form-control-alternative', 'autocomplete' : 'off'}}) }}
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    {{ form_label(form.isbnIssn, "Numéro ISBN/ISSN", {'label_attr': {'class': 'form-control-label'}}) }}
                    {{ form_errors(form.isbnIssn) }}
                    {{ form_widget(form.isbnIssn, {'attr': {'class': 'form-control form-control-alternative', 'autocomplete' : 'off'}}) }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    {{ form_label(form.imageFile, "Couverture du livre", {'label_attr': {'class': 'form-control-label'}}) }}
                    {{ form_errors(form.imageFile) }}
                    {{ form_widget(form.imageFile, {'attr': {'class': 'form-control form-control-alternative', 'autocomplete' : 'off'}}) }}
                </div>
            </div>
        </div>
        <hr class="my-4" />
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    {{ form_label(form.descritpion, "Description", {'label_attr': {'class': 'form-control-label'}}) }}
                    {{ form_errors(form.descritpion) }}
                    {{ form_widget(form.descritpion, {'attr': {'class': 'form-control form-control-alternative'}}) }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    {{ form_label(form.theme, "Thèmes", {'label_attr': {'class': 'form-control-label'}}) }}
                    {{ form_errors(form.theme) }}
                    {{ form_widget(form.theme, {'attr': {'class': 'form-control form-control-alternative', 'autocomplete' : 'off'}}) }}
                </div>
            </div>
        </div>
    </div>
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}


