{% extends 'Admin/admin_template.html.twig' %}

{% block title %}Book index{% endblock %}

{% block activeBook %}
    active
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col">
            <div class="card shadow">
                {% for message in app.session.flashBag.get('success') %}
                    <div class="alert alert-dismissible alert-success">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>{{ message }}</strong>
                    </div>
                {% endfor %}
                <div class="card-header border-0">
                    <h3 class="mb-0">
                        {{ message }}
                        <span class="text-success mr-2">
                            ({{ books.totalItemCount }} trouvés !)
                        </span>
                    </h3>
                </div>
                <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                        <tr>
                            <th scope="col">Titre</th>
                            <th scope="col">Date de publication</th>
                            <th scope="col">Langues</th>
                            <th scope="col">Exemplaires</th>
                            <th scope="col">Disponibilité</th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for book in books %}
                            <tr>
                                <td>{{ book.title }}</td>
                                <td>{{ book.publishedDt ? book.publishedDt|date('d-m-Y') : '' }}</td>
                                <td>{{ book.language }}</td>
                                <td>{{ book.nbreCopies }}</td>
                                <td>{{ book.availability }}</td>
                                <td class="text-right">
                                    <div class="dropdown">
                                        <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                            <a class="dropdown-item" href="{{ path('book_show', {'id': book.id}) }}">Voir</a>
                                            <a class="dropdown-item" href="{{ path('book_edit', {'id': book.id}) }}">Editer</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="8">Aucun livre trouvé</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="navigation">
                    {{ knp_pagination_render(books) }}
                </div>
            </div>
            <br/>


            <a href="{{ path('book_new') }}" class="btn btn btn-primary">Ajouter un livre</a>
            <br/><br/>
        </div>
    </div>


{% endblock %}


{% block search %}
    {{ form_start(form, {'attr' : {'class' : "navbar-search navbar-search-dark form-inline mr-3 d-none d-md-flex ml-lg-auto"}}) }}
    <div class="form-group">
        <div class="input-group input-group-alternative">
            {{ form_row(form.availability, {'attr' : {'class' : "form-control", 'autocomplete' : 'off'}}) }}
        </div>
        <div class="input-group input-group-alternative">
            {{ form_row(form.language, {'attr' : {'class' : "form-control", 'autocomplete' : 'off'}}) }}
        </div>
        <div class="input-group input-group-alternative">
            <div class="input-group-prepend">
            </div>
            {{ form_row(form.title, {'attr' : {'class' : "form-control", 'autocomplete' : 'off'}}) }}
        </div>
        <button class="btn btn-primary" type="submit">Recherche</button>
    </div>
    {{ form_end(form) }}
{% endblock %}


